/* Global Styles */
html {
  font-size: 18px;
}
body {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  color: white;
}
.site-container {
  width: 960px;
  margin: auto;
  display: flex;
}

/* Topbanner, Logo, Header */
.topbanner {
  background-color: black;
}
.logo {
  padding: 0.66rem 0;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
}
.logo span {

  margin-left: 1rem;
}

/* Mainbanner with offerbox */
.mainbanner {
  background-image: url(../../resources/images/moto.jpeg);
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.offerbox {
  display: inline-flex;
  flex-direction: column;
  background-color: black;
  width: 20rem;
  font-weight: bold;
  padding: 2rem 3rem;
}
.offerbox_type {
  padding-bottom: 0.25rem
}
.offerbox_offer {
  font-size: 2rem;
  line-height: 1.2em;
}

/* Navigation */
nav {
  background-color: firebrick;
  padding: 0.75rem 0rem;
}
nav .site-container {
  justify-content: space-between;
}
.tabletnav {
  display: none;
}

/* Shop Section */
.shop {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}
.product_wrapper {
  flex-direction: column;
  width: 30%;
}
.description {
  background-color: black;
  text-align: center;
  padding: 0.5rem 0rem;
}
.product {
  height: 9rem;
  padding: 2rem 0rem;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product img {
  max-width: 8em;
}

/* Contact and Opening hours */
.contact {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}
.location {
  background-color: black;
  padding: 1rem 2rem;
}
.location-wrapper {
  width: 35%;
}
.info {
  color: black;
}


/* Footer */
footer {
  margin-top: 4rem;
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-width: 1024px) {

  .site-container {
    width: 100%;
  }
  .shop {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .product_wrapper {
    width: 47%;
  }
  .glasses {
    display: none;
  }
  .desktopnav {
    display: none;
  }
  .tabletnav {
    display:inline;
  }
  nav {
      text-align: center;
  }
}

@media only screen and (max-width: 470px) {
  .mainbanner {
    align-items: flex-end;
    height: 15rem;
  }
  .mainbanner .site-container {
    margin: 0;
    width: 100%;
  }
  .offerbox {
      padding: 1rem 2rem;
      width: 100%;
  }
  .offerbox_type {
    padding-bottom: 0.25rem;
    font-size: 0.77rem;
  }
  .offerbox_offer {
    font-size: 1rem;
    line-height: 1.2em;
  }
  .watch {
    display: none;
  }
  .product_wrapper {
    width: 90%;
  }
  .location-wrapper {
    width: 90%;
    padding-bottom: 0.5rem;
  }
  .contact {
    flex-wrap:wrap;
    justify-content: center;
  }
  .shop {
    justify-content: center;
  }
  footer .site-container {
    justify-content: center;
  }

}
